body{
  width: 100vw;
  height: 100vw;
  margin: 0;
  overflow-x: hidden;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #8064A2 !important;
}

.site-logo{
  position: absolute;
  left:40px ;
  top: 10px;
  color:white;
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
}
